<template>
  <v-layout column align-start>
    <v-flex v-if="readonly" class="text-sm-left" xs12>
      <v-flex>
        <span class="title grey--text text--darken-4">{{evaluation.account.login}}</span>
      </v-flex>
      <v-flex>
        <span class="caption">{{evaluation.insertionDate}}</span>
      </v-flex>
      <v-flex mt-1>
        <v-rating v-model="evaluation.rate"
                  readonly
                  background-color="grey lighten-3"
                  color="grey"
                  half-increments
                  size="12"
                  dense
        >
        </v-rating>
      </v-flex>
      <v-flex>
        <p class="grey--text text--darken-4">{{evaluation.comment}}</p>
      </v-flex>
    </v-flex>
    <v-flex v-else style="width: 100%">
      <span class="title">{{$t('evaluation.add_evaluation')}}</span>
      <v-rating v-model="newEvaluation.rate"
                :readonly="readonly"
                background-color="orange lighten-3"
                color="orange"
                small
                hover
      >
      </v-rating>
      <v-textarea v-model="newEvaluation.comment"
                  auto-grow
                  :label="$t('evaluation.evaluation')"
                  box
                  flat
                  rows="3"
      >
      </v-textarea>
      <v-btn v-if="!readonly"
             color="primary"
             @click.native="addEvaluation()"
      >
        {{ $t('main.add') }}
      </v-btn>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'Evaluation',
  props: {
    evaluation: {
      comment: {
        type: String,
        default: ''
      },
      rate: {
        type: Number,
        default: 0
      }
    },
    readonly: {
      type: Boolean,
      default: false
    },
    routeId: Number,
    placeId: Number
  },
  computed: {
    accountId() {
      return this.$store.getters.currentUser.account.accountId;
    }
  },
  data: () => ({
    newEvaluation: {
      comment: '',
      rate: 0
    }
  }),
  methods: {
    ...mapActions({
      insertRouteEvaluation: 'insertRouteEvaluation',
      insertPlaceEvaluation: 'insertPlaceEvaluation'
    }),
    addEvaluation() {
      if (this.readonly) {
        return;
      }
      this.newEvaluation.accountId = this.accountId;
      if (this.routeId) {
        this.addRouteEvaluation();
      } else if (this.placeId) {
        this.addPlaceEvaluation();
      }
      this.clearForm();
    },
    addRouteEvaluation() {
      this.newEvaluation.routeId = this.routeId;
      this.insertRouteEvaluation(this.newEvaluation);
    },
    addPlaceEvaluation() {
      this.newEvaluation.placeId = this.placeId;
      this.insertPlaceEvaluation(this.newEvaluation);
    },
    clearForm() {
      this.newEvaluation.comment = '';
      this.newEvaluation.rate = 0;
    }
  }
};
</script>

<style scoped>

</style>
