<template>
  <v-container fluid>
    <v-layout>
      <span class="display-1">{{$t('evaluation.title')}}</span>
    </v-layout>
    <v-divider></v-divider>
    <v-layout wrap xs6 mt-4>
      <v-flex xs6>
        <v-flex class="text-sm-center">
          <span class="display-1">{{ summary.averageRating }}</span>
          <span class="grey--text text--darken-1 mr-2">
            / 5
          </span>
        </v-flex>
        <v-layout align-center justify-center>
            <v-rating v-model="summary.averageRating"
                      readonly
                      background-color="orange lighten-3"
                      color="orange"
                      half-increments
                      small
            >
            </v-rating>
            <span>({{summary.evaluationsQuantity}})</span>
        </v-layout>
      </v-flex>
      <v-flex xs6>
        <app-evaluation-progress-bar :percent="calculatePercentageOfRatings(summary.fiveStars)"
                                     :rating="5">
        </app-evaluation-progress-bar>
        <app-evaluation-progress-bar :percent="calculatePercentageOfRatings(summary.fourStars)"
                                     :rating="4">
        </app-evaluation-progress-bar>
        <app-evaluation-progress-bar :percent="calculatePercentageOfRatings(summary.threeStars)"
                                     :rating="3">
        </app-evaluation-progress-bar>
        <app-evaluation-progress-bar :percent="calculatePercentageOfRatings(summary.twoStars)"
                                     :rating="2">
        </app-evaluation-progress-bar>
        <app-evaluation-progress-bar :percent="calculatePercentageOfRatings(summary.oneStar)"
                                     :rating="1">
        </app-evaluation-progress-bar>
      </v-flex>
      <v-flex v-if="!readonly && userCanAddEvaluation" xs6>
        <app-evaluation :routeId="routeId"
                        :placeId="placeId"
                        :readonly="false"
        >
        </app-evaluation>
      </v-flex>
      <v-flex xs12>
        <template v-for="evaluation in evaluations">
          <v-card :key="evaluation.id" flat color="transparent">
            <v-card-title>
              <app-evaluation :evaluation="evaluation"
                              :readonly="true"
              >
              </app-evaluation>
            </v-card-title>
          </v-card>
          <v-divider :key="`divider-${evaluation.id}`"></v-divider>
        </template>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import Evaluation from './Evaluation';
import EvaluationProgressBar from './EvaluationProgressBar';

export default {
  name: 'Evaluations',
  props: {
    evaluations: Array,
    summary: Object,
    routeId: Number,
    placeId: Number,
    readonly: Boolean
  },
  computed: {
    userIsLogged() {
      return this.$store.getters.isLogged;
    },
    currentUser() {
      return this.$store.getters.currentUser;
    },
    userCanAddEvaluation() {
      if (this.userIsLogged) {
        if (!this.evaluations || this.evaluations.length === 0) {
          return true;
        }
        return !this.evaluations
          .find(evaluation => evaluation.account.accountId === this.currentUser.account.accountId);
      }
      return false;
    }
  },
  methods: {
    calculatePercentageOfRatings(stars) {
      if (stars === 0) {
        return 0;
      }
      return (stars / this.summary.evaluationsQuantity) * 100;
    }
  },
  components: {
    'app-evaluation': Evaluation,
    'app-evaluation-progress-bar': EvaluationProgressBar
  }
};
</script>

<style scoped>

</style>
