<template>
  <v-layout justify-start align-center row>
    <v-flex class="text-xs-left" style="margin: 0.5rem 0;" xs2>
      <span class="grey--text text--darken-2"><i class="fas fa-star"></i> {{rating}}</span>
    </v-flex>
    <v-flex>
      <v-progress-linear :value="percent"
                         color="grey"
      >
      </v-progress-linear>
    </v-flex>
    <v-flex class="text-xs-right" xs2>
      <span>{{percent}}%</span>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: 'EvaluationProgressBar',
  props: {
    percent: {
      type: Number,
      default: 0
    },
    rating: Number
  }
};
</script>

<style scoped>

</style>
