<template>
  <v-container fluid pa-2>
    <v-dialog v-model="dialog.isDialog"
              persistent
              max-width="400"
    >
      <v-card>
        <v-card-text>
          <v-container fluid>
            <v-layout row wrap>
              <v-flex v-if="dialog.mode === 'name'" xs12>
                <v-text-field v-model="dialog.user.name"
                              :label="$t('user.name')"
                              :rules="[rules.required]"
                              required
                >
                </v-text-field>
              </v-flex>
              <v-flex v-else-if="dialog.mode === 'email'" xs12>
                <v-text-field v-model="dialog.user.email"
                              :rules="[rules.required, rules.email]"
                              :label="$t('user.email')"
                              required
                >
                </v-text-field>
              </v-flex>
              <v-flex v-else-if="dialog.mode === 'password'" xs12>
                <v-text-field v-model="dialog.account.currentPassword"
                              :label="$t('user.old_password')"
                              :append-icon="dialog.showCurrentPassword
                               ? 'fas fa-eye-slash' : 'fas fa-eye'"
                              :rules="[rules.required]"
                              :type="dialog.showCurrentPassword ? 'text' : 'password'"
                              @click:append="dialog.showCurrentPassword=!dialog.showCurrentPassword"
                              required
                >
                </v-text-field>
                <v-text-field v-model="dialog.account.password"
                              :label="$t('user.password')"
                              :append-icon="dialog.showPassword
                               ? 'fas fa-eye-slash' : 'fas fa-eye'"
                              :rules="[rules.required, rules.min]"
                              :type="dialog.showPassword ? 'text' : 'password'"
                              :hint="$t('main.minimum_number_characters')"
                              @click:append="dialog.showPassword = !dialog.showPassword"
                              required
                >
                </v-text-field>
                <v-text-field v-model="dialog.account.repeatPassword"
                              :label="$t('user.repeat_password')"
                              :append-icon="dialog.showRepeatPassword
                               ? 'fas fa-eye-slash' : 'fas fa-eye'"
                              :rules="[rules.required, rules.min]"
                              :type="dialog.showRepeatPassword ? 'text' : 'password'"
                              :hint="$t('main.minimum_number_characters')"
                              @click:append="dialog.showRepeatPassword = !dialog.showRepeatPassword"
                              required
                >
                </v-text-field>
              </v-flex>
              <v-flex v-else-if="dialog.mode === 'account_remove'" xs12>
                <label class="subheading">{{ $t('user.remove_desc') }}</label>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary"
                 outline
                 @click="closeDialog">
            {{ $t('main.cancel') }}
          </v-btn>
          <v-btn v-if="dialog.mode !== 'account_remove'"
                 color="primary"
                 @click="changeUserDate">
            {{ $t('main.edit') }}
          </v-btn>
          <v-btn v-else
                 color="primary"
                 @click="removeAccount">
            {{ $t('user.remove') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-layout row>
      <v-btn color="primary"
             outline
             @click="openRemoveAccountView">
        {{ $t('user.remove') }}
      </v-btn>
    </v-layout>
    <v-layout justify-center>
      <v-flex class="account-card" xs8 mt-2>
        <v-card flat
                width="100%"
                color="transparent">
          <v-card-title primary-title>
            <div>
              <div class="headline">{{ $t('user.account') }}</div>
            </div>
          </v-card-title>
          <v-card-text>
            <v-list style="background-color: transparent">
              <v-list-tile v-ripple @click="openEditNameView">
                <v-list-tile-content>
                  <v-container fluid>
                    <v-layout>
                      <v-flex xs4><span class="subheading">{{ $t('user.name') }}</span></v-flex>
                      <v-flex xs8><span class="title">{{ currentUser.name }}</span></v-flex>
                    </v-layout>
                  </v-container>
                </v-list-tile-content>
              </v-list-tile>
              <v-divider></v-divider>
              <v-list-tile v-ripple @click="openEditEmailView">
                <v-list-tile-content>
                  <v-container fluid>
                    <v-layout justify-center>
                      <v-flex xs4><span class="subheading">{{ $t('user.email') }}</span></v-flex>
                      <v-flex xs8><span class="title">{{ currentUser.email }}</span></v-flex>
                    </v-layout>
                  </v-container>
                </v-list-tile-content>
              </v-list-tile>
              <v-divider></v-divider>
              <v-list-tile v-ripple @click="openChangePasswordView">
                <v-list-tile-content>
                  <v-container fluid>
                    <v-layout justify-center>
                      <v-flex xs4><span class="subheading">{{ $t('user.password') }}</span></v-flex>
                      <v-flex xs8><span class="title">********</span></v-flex>
                    </v-layout>
                  </v-container>
                </v-list-tile-content>
              </v-list-tile>
            </v-list>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'Account',
  data: () => ({
    dialog: {
      isDialog: false,
      mode: '',
      user: {
        userDetailId: null,
        name: '',
        email: ''
      },
      account: {
        currentPassword: '',
        password: '',
        repeatPassword: ''
      },
      showCurrentPassword: false,
      showPassword: false,
      showRepeatPassword: false
    },
    rules: {
      required: value => !!value || 'Required.',
      email: (value) => {
        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return pattern.test(value) || 'Invalid e-mail.';
      },
      min: v => v.length >= 8 || 'Min 8 characters'
    }
  }),
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    }
  },
  methods: {
    ...mapActions({
      updateUserDetail: 'updateUserDetail',
      updatePassword: 'updatePassword',
      deactivateAccount: 'deactivateAccount',
      addErrorSnackbar: 'addErrorSnackbar'
    }),
    openRemoveAccountView() {
      this.dialog.isDialog = true;
      this.dialog.mode = 'account_remove';
    },
    openEditNameView() {
      this.copyUserDetail();
      this.dialog.isDialog = true;
      this.dialog.mode = 'name';
    },
    openEditEmailView() {
      this.copyUserDetail();
      this.dialog.isDialog = true;
      this.dialog.mode = 'email';
    },
    openChangePasswordView() {
      this.dialog.isDialog = true;
      this.dialog.mode = 'password';
    },
    changeUserDate() {
      switch (this.dialog.mode) {
      case 'name':
        this.changeUserDetail();
        break;
      case 'email':
        this.changeUserDetail();
        break;
      case 'password':
        this.changePassword();
        break;
      default:
        break;
      }
    },
    changeUserDetail() {
      if (!this.dialog.user.name || !this.dialog.user.email) {
        return;
      }
      this.updateUserDetail(this.dialog.user);
      this.closeDialog();
      this.clearUserData();
    },
    changePassword() {
      if (!this.dialog.account.password || !this.dialog.account.repeatPassword
        || !this.dialog.account.currentPassword || !this.validatePassword()) {
        return;
      }
      this.updatePassword(this.dialog.account);
      this.closeDialog();
      this.clearAccountData();
    },
    validatePassword() {
      if (this.dialog.account.password !== this.dialog.account.repeatPassword) {
        this.addErrorSnackbar('user.different_passwords');
        return false;
      }
      return true;
    },
    removeAccount() {
      this.deactivateAccount();
    },
    closeDialog() {
      this.dialog.isDialog = false;
    },
    copyUserDetail() {
      this.dialog.user = {
        userDetailId: this.currentUser.userDetailId,
        name: this.currentUser.name,
        email: this.currentUser.email
      };
    },
    clearUserData() {
      this.dialog.user = {
        userDetailId: null,
        name: '',
        email: ''
      };
    },
    clearAccountData() {
      this.dialog.account = {
        currentPassword: '',
        password: '',
        repeatPassword: ''
      };
    }
  },
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      if (!vm.$store.getters.isLogged) {
        vm.$router.push({ name: 'Places' });
      }
    });
  }
};
</script>

<style scoped>
  .account-card {
    border-radius: 8px;
    border: 1px solid #BDBDBD;
  }
</style>
