<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-flex xs12 sm8 md4>
        <v-card class="elevation-12">
          <v-card-text>
            <v-form ref="loginForm" @keyup.native.enter="login">
              <v-text-field prepend-icon="fas fa-user"
                            name="login"
                            :label="$t('user.login')"
                            type="text"
                            v-model="user.login"
              >
              </v-text-field>
              <v-text-field id="password"
                            prepend-icon="fas fa-lock"
                            name="password"
                            :label="$t('user.password')"
                            type="password"
                            v-model="user.password"
              >
              </v-text-field>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" @click="login()">{{$t('user.sign_in')}}</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'UserLogin',
  data: () => ({
    user: {
      login: '',
      password: ''
    }
  }),
  methods: {
    ...mapActions({
      signIn: 'signIn'
    }),
    login() {
      this.signIn(this.user)
        .then(this.clear());
    },
    clear() {
      this.$refs.loginForm.reset();
    }
  },
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      if (vm.$store.getters.isLogged) {
        vm.$router.push({ name: 'Places' });
      }
    });
  }
};
</script>

<style scoped>

</style>
