<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-flex xs12 sm8 md4>
        <v-card class="elevation-12">
          <v-card-text>
            <v-form ref="signUp" v-model="userForm.valid" lazy-validation>
              <v-text-field prepend-icon="fas fa-user"
                            name="login"
                            :label="$t('user.name')"
                            type="text"
                            v-model="user.name"
                            :rules="[userForm.rules.required]"
              >
              </v-text-field>
              <v-text-field prepend-icon="fas fa-user"
                            name="login"
                            :label="$t('user.email')"
                            type="email"
                            v-model="user.email"
                            :rules="[userForm.rules.required, userForm.rules.email]"
              >
              </v-text-field>
              <v-text-field prepend-icon="fas fa-user"
                            name="login"
                            :label="$t('user.login')"
                            type="text"
                            v-model="user.account.login"
                            :rules="[userForm.rules.required]"
              >
              </v-text-field>
              <v-text-field id="password"
                            v-model="user.account.password"
                            :label="$t('user.password')"
                            prepend-icon="fas fa-lock"
                            :append-icon="userForm.showPassword
                               ? 'fas fa-eye-slash' : 'fas fa-eye'"
                            :rules="[userForm.rules.required, userForm.rules.min]"
                            :type="userForm.showPassword ? 'text' : 'password'"
                            :hint="$t('main.minimum_number_characters')"
                            @click:append="userForm.showPassword = !userForm.showPassword"
                            required
              >
              </v-text-field>
              <v-text-field v-model="repeatPassword"
                            :label="$t('user.repeat_password')"
                            prepend-icon="fas fa-lock"
                            :append-icon="userForm.showRepeatPassword
                               ? 'fas fa-eye-slash' : 'fas fa-eye'"
                            :rules="[userForm.rules.required, userForm.rules.min]"
                            :type="userForm.showRepeatPassword ? 'text' : 'password'"
                            :hint="$t('main.minimum_number_characters')"
                            @click:append="userForm.showRepeatPassword=!userForm.showRepeatPassword"
                            required
              >
              </v-text-field>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" @click="register()">{{$t('user.sign_up')}}</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'UserSignUp',
  data: () => ({
    user: {
      name: '',
      email: '',
      avatar: '',
      account: {
        login: '',
        password: ''
      }
    },
    repeatPassword: '',
    userForm: {
      valid: true,
      showPassword: false,
      showRepeatPassword: false,
      rules: {
        required: value => !!value || 'Required.',
        email: (value) => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return pattern.test(value) || 'Invalid e-mail.';
        },
        min: v => v.length >= 8 || 'Min 8 characters'
      }
    }
  }),
  methods: {
    ...mapActions({
      signUp: 'signUp',
      addErrorSnackbar: 'addErrorSnackbar'
    }),
    register() {
      if (!this.$refs.signUp.validate() || !this.validatePassword()) {
        return;
      }
      this.signUp(this.user);
    },
    validatePassword() {
      if (this.user.account.password !== this.repeatPassword) {
        this.addErrorSnackbar('user.different_passwords');
        return false;
      }
      return true;
    }
  },
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      if (vm.$store.getters.isLogged) {
        vm.$router.push({ name: 'Places' });
      }
    });
  }
};
</script>

<style scoped>

</style>
