<template>
  <v-container fluid pa-0>
    <v-dialog v-model="placeDialog.isDialog"
              persistent
              transition="dialog-bottom-transition"
    >
      <v-card>
        <v-card-text>
          <app-place :dialogPlace="placeDialog.place"
                     :closePlaceDetailDialog="closePlaceDetailDialog"
                     ref="placeDetailDialog"
          >
          </app-place>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-form ref="routeForm" v-model="valid" lazy-validation>
      <v-layout>
        <v-btn v-if="userIsLogged && $route.name === 'AddRoute'"
               color="primary"
               @click.native="addRoute()"
        >
          {{ $t('main.add') }}
        </v-btn>
        <v-btn v-if="userIsLogged && $route.name === 'EditRoute'"
               color="primary"
               @click.native="editRoute()"
        >
          {{ $t('main.edit') }}
        </v-btn>
        <v-btn v-if="!readonly && userIsLogged"
               color="blue darken-1"
               outline
               @click.native="clearForm()"
        >
          {{ $t('main.clear') }}
        </v-btn>
        <v-btn v-if="readonly || $route.name === 'EditRoute'"
               color="blue darken-1"
               outline
               exact-active-class exact
               :to="{ name: 'Routes'}"
        >
          {{ $t('main.return') }}
        </v-btn>
      </v-layout>
      <v-layout>
        <v-flex>
          <v-text-field v-if="userIsLogged"
                        v-model="route.name"
                        :rules="routeRules.name"
                        :label="$t('route.name')"
                        :readonly="readonly"
                        required
          >
          </v-text-field>
        </v-flex>
      </v-layout>
      <v-layout>
        <google-maps name="route"
                     :places="route.places"
                     :readonly="true"
                     :search-box="false"
                     @distance="onDistanceChange"
                     @duration="onDurationChange"
        >
        </google-maps>
      </v-layout>
      <v-layout justify-start align-end mt-2 >
        <v-flex xs4 offset-xs1 class="text-sm-left">
          <v-flex xs6 v-if="!readonly">
            <v-select :items="orderFields"
                      v-model="placeFilter.orderField"
                      @change="findPlaces"
                      class="order-select"
            >
              <template slot="selection" slot-scope="data">
                {{$t(`order_field.${data.item}`)}}
              </template>
              <template slot="item" slot-scope="data">
                {{$t(`order_field.${data.item}`)}}
              </template>
            </v-select>
          </v-flex>
        </v-flex>
        <v-flex xs5 align-self-end :class="[!readonly ? 'text-xs-right' : 'text-xs-left']">
          <span class="subheading">
            {{ $t('route.distance') }}: {{route.distance | toKilometers}}
          </span>
          <span class="subheading">
            {{ $t('route.duration') }}: {{route.duration | convertSeconds}}
          </span>
        </v-flex>
      </v-layout>
      <v-layout row wrap justify-center mb-2>
        <v-flex xs5 mr-2 v-if="!readonly">
          <v-list class="drag-list">
            <v-list-group>
              <v-list-tile slot="activator">
                <v-list-tile-action>
                  <v-list-tile-title>{{ $t('main.filter') }}</v-list-tile-title>
                </v-list-tile-action>
              </v-list-tile>
              <v-list-tile>
                <v-list-tile-action style="width: 100%">
                  <v-text-field v-model="placeFilter.name"
                                :label="$t('place.name')"
                                append-outer-icon="fas fa-times"
                                :append-outer-icon-cb="clearNameFilter"
                                @input="findPlaces()"
                  >
                  </v-text-field>
                </v-list-tile-action>
              </v-list-tile>
              <v-list-tile>
                <v-list-tile-action style="width: 100%; margin-bottom: 8px">
                  <v-select :items="categories"
                            item-text="name"
                            item-value="categoryId"
                            v-model="placeFilter.categoryId"
                            :label="$t('place.category')"
                            menu-props="auto, overflowY"
                            append-outer-icon="fas fa-times"
                            :append-outer-icon-cb="clearCategoryFilter"
                            @change="findPlaces()"
                            hide-details
                  >
                  </v-select>
                </v-list-tile-action>
              </v-list-tile>
            </v-list-group>
          </v-list>
          <draggable element="v-list"
                     v-model="places"
                     class="dragArea drag-list scroll-y"
                     :options="{group:'people'}"
                     @start="drag=true" @end="drag=false"
          >
            <template v-for="(place, index) in places">
              <app-route-places-item :key="place.placeId"
                                     :place="place"
                                     :index="index"
                                     :placesLength="places.length"
                                     :showBadge="false"
                                     :openPlaceDetailDialog="openPlaceDetailDialog"
              >
              </app-route-places-item>
            </template>
          </draggable>
        </v-flex>
        <v-flex xs5 ml-2>
          <draggable
            element="v-list"
            v-model="route.places"
            class="dragArea drag-list scroll-y"
            :options="{group:'people'}"
            @start="drag=true" @end="drag=false"
          >
            <template v-for="(place, index) in route.places">
              <app-route-places-item :key="place.placeId"
                                     :place="place"
                                     :index="index"
                                     :placesLength="route.places.length"
                                     :showBadge="true"
                                     :openPlaceDetailDialog="openPlaceDetailDialog"
              >
              </app-route-places-item>
            </template>
          </draggable>
        </v-flex>
      </v-layout>
      <v-layout v-if="readonly && route.evaluationsSummary" mt-4>
        <app-evaluations :evaluations="route.evaluations"
                         :summary="route.evaluationsSummary"
                         :routeId="route.routeId"
                         :readonly="!readonly"
        >
        </app-evaluations>
      </v-layout>
    </v-form>
  </v-container>
</template>

<script>
import { mapActions } from 'vuex';
import draggable from 'vuedraggable';
import GoogleMaps from '../pages/GoogleMaps';
import RoutePlacesItem from './RoutePlacesItem';
import Evaluations from '../evaluations/Evaluations';
import Place from '../places/Place';

export default {
  name: 'AddRoute',
  data: () => ({
    readonly: true,
    valid: false,
    // places: [],
    menu: false,
    route: {
      name: '',
      routeId: 0,
      accountId: 0,
      distance: 0,
      duration: 0,
      active: true,
      isPrivate: false,
      places: [],
      evaluations: []
    },
    routeRules: {
      name: [
        v => !!v || 'Error' // || this.$i18n.t('validation.name_required')
      ],
      date: [
        v => !!v || 'Error' // || this.$i18n.t('validation.date_required')
      ],
      places: [
        v => !!v || 'Error' // || this.$i18n.t('validation.places_required')
      ]
    },
    placeDialog: {
      isDialog: false,
      place: null
    },
    placeFilter: {
      name: '',
      categoryId: null,
      ownership: 'ALL',
      orderField: 'NAME_ASC',
      rejectedPlaces: []
    },
    orderFields: [
      'NAME_ASC',
      'NAME_DESC',
      'RATE_ASC',
      'RATE_DESC'
    ]
  }),
  computed: {
    locale() {
      return this.$i18n.locale;
    },
    userIsLogged() {
      return this.$store.getters.isLogged;
    },
    currentUser() {
      return this.$store.getters.currentUser;
    },
    categories() {
      return this.$store.getters.categories;
    },
    places: {
      get() {
        return this.$store.getters.places;
      },
      set(places) {
        this.$store.commit('setPlaces', places);
      }
    }
  },
  methods: {
    ...mapActions({
      searchPlaces: 'searchPlaces',
      insertRoute: 'insertRoute',
      updateRoute: 'updateRoute',
      loadActiveCategories: 'loadActiveCategories',
      addWarningSnackbar: 'addWarningSnackbar'
    }),
    addRoute() {
      this.route.accountId = this.currentUser.account.accountId;
      if (!this.route.name) {
        this.addWarningSnackbar('route.name_undefined');
        return;
      }
      this.insertRoute(this.route).then(() => this.clearForm());
    },
    editRoute() {
      this.updateRoute(this.route).then(() => this.clearForm());
    },
    clearForm() {
      this.route = {
        name: '',
        routeId: 0,
        accountId: 0,
        distance: 0,
        duration: 0,
        active: true,
        isPrivate: false,
        places: [],
        evaluations: []
      };
      this.placeFilter = {
        name: '',
        categoryId: null,
        ownership: 'ALL',
        orderField: 'NAME_ASC',
        rejectedPlaces: []
      };
      this.findPlaces();
    },
    openPlaceDetailDialog(place) {
      this.placeDialog.place = Object.assign({}, place);
      this.placeDialog.isDialog = true;
    },
    closePlaceDetailDialog() {
      this.placeDialog.isDialog = false;
      this.placeDialog.place = null;
      this.$refs.placeDetailDialog.clearForm();
    },
    clearNameFilter() {
      this.placeFilter.name = '';
      this.findPlaces();
    },
    clearCategoryFilter() {
      this.placeFilter.categoryId = null;
      this.findPlaces();
    },
    findPlaces() {
      this.placeFilter.rejectedPlaces = Object.assign([], this.route.places);
      this.searchPlaces(this.placeFilter);
    },
    onDistanceChange(value) {
      this.route.distance = value;
    },
    onDurationChange(value) {
      this.route.duration = value;
    }
  },
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.readonly = !(to.name === 'AddRoute' || to.name === 'EditRoute');
      if (to.name !== 'AddRoute') {
        vm.route = Object.assign([], vm.$store.getters.getRouteById(to.params.routeId));
      }
    });
  },
  created() {
    this.findPlaces();
    this.loadActiveCategories();
  },
  components: {
    draggable,
    GoogleMaps,
    'app-route-places-item': RoutePlacesItem,
    'app-evaluations': Evaluations,
    'app-place': Place
  }
};
</script>

<style scoped>
  .drag-list {
    min-height: 50px;
    border: solid 1px #ccc;
    border-radius: 5px;
    max-height: 280px;
  }

  .order-select {
    padding: 4px;
  }
</style>
