<template>
  <div>
    <v-layout row mb-1>
      <v-btn color="primary"
             outline
             @click="isFilters = !isFilters">
        {{ $t('main.filter') }}
      </v-btn>
      <v-flex xs3>
        <v-select :items="orderFields"
                  v-model="routeFilter.orderField"
                  @change="findRoutes()"
                  class="order-select"
        >
          <template slot="selection" slot-scope="data">
            {{$t(`order_field.${data.item}`)}}
          </template>
          <template slot="item" slot-scope="data">
            {{$t(`order_field.${data.item}`)}}
          </template>
        </v-select>
      </v-flex>
    </v-layout>
    <v-divider></v-divider>
    <v-slide-y-transition>
      <v-layout v-if="isFilters" row>
        <v-flex xs3 mx-2>
          <v-text-field v-model="routeFilter.name"
                        :label="$t('route.name')"
                        append-outer-icon="fas fa-times"
                        :append-outer-icon-cb="clearNameFilter"
                        @input="findRoutes()"
          >
          </v-text-field>
        </v-flex>
        <v-flex v-if="userIsLogged" xs3 mx-2>
          <v-select :items="ownerships"
                    v-model="routeFilter.ownership"
                    menu-props="auto, overflowY"
                    @change="findRoutes()"
          >
            <template slot="selection" slot-scope="data">
              {{$t(`ownership.${data.item}`)}}
            </template>
            <template slot="item" slot-scope="data">
              {{$t(`ownership.${data.item}`)}}
            </template>
          </v-select>
        </v-flex>
      </v-layout>
    </v-slide-y-transition>
    <v-layout d-flex>
      <v-list two-line style="background-color: transparent">
        <template v-for="(route, index) in routes">
          <v-list-tile
            :key="route.routeId"
            :to="{name: 'Route', params: {routeId: route.routeId }}"
            avatar
            loading
          >
            <v-list-tile-avatar>
              <v-icon>fas fa-monument</v-icon>
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title>{{route.name}}</v-list-tile-title>
            </v-list-tile-content>
            <v-list-tile-action>
              <v-layout align-center>
                <v-rating v-model="route.evaluationsSummary.averageRating"
                          readonly
                          background-color="orange lighten-3"
                          color="orange"
                          half-increments
                          small
                          dense
                >
                </v-rating>
                <span class="body-1">({{route.evaluationsSummary.evaluationsQuantity}})</span>
                <!--<v-btn icon ripple class="action-button"
                       :to="{name: 'Route', params: {routeId: route.routeId }}"
                >
                  <v-icon>fas fa-info</v-icon>
                </v-btn>-->
                <template v-if="userIsLogged && route.accountId === currentUser.account.accountId">
                  <v-btn icon ripple
                         class="action-button"
                         exact-active-class exact
                         @click="openUpdateDialog(route)">
                    <v-icon>fas fa-pencil-alt</v-icon>
                  </v-btn>
                  <!--<v-btn icon ripple class="action-button" @click="editPlaceState(place)">
                    <v-icon>fas fa-trash-alt</v-icon>
                  </v-btn>-->
                </template>
              </v-layout>
            </v-list-tile-action>
          </v-list-tile>
          <v-divider v-if="index + 1 < routes.length" :key="index"></v-divider>
        </template>
      </v-list>
    </v-layout>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'Routes',
  data: () => ({
    isFilters: false,
    routeFilter: {
      name: '',
      ownership: 'ALL',
      orderField: 'NAME_ASC'
    },
    ownerships: [
      'ALL',
      'MY'
    ],
    orderFields: [
      'NAME_ASC',
      'NAME_DESC',
      'RATE_ASC',
      'RATE_DESC'
    ]
  }),
  computed: {
    userIsLogged() {
      return this.$store.getters.isLogged;
    },
    currentUser() {
      return this.$store.getters.currentUser;
    },
    routes() {
      return this.$store.getters.routes;
    }
  },
  methods: {
    ...mapActions({
      searchRoutes: 'searchRoutes'
    }),
    clearNameFilter() {
      this.routeFilter.name = '';
      this.findRoutes();
    },
    findRoutes() {
      this.searchRoutes(this.routeFilter);
    }
  },
  created() {
    this.findRoutes();
  }
};
</script>

<style scoped>
  .order-select {
    padding: 4px;
  }
</style>
