<template>
  <v-list-tile :class="{'drag-list-item': index < placesLength - 1}"
               @click="openPlaceDetailDialog(place)">
    <v-list-tile-action v-if="showBadge">
      <v-badge color="cyan">
        <span slot="badge">{{index + 1}}</span>
      </v-badge>
    </v-list-tile-action>
    <v-list-tile-content>
      <v-list-tile-title v-text="place.name"></v-list-tile-title>
    </v-list-tile-content>
    <v-list-tile-action style="min-width: 128px">
      <v-layout align-center>
        <v-rating v-model="place.evaluationsSummary.averageRating"
                  readonly
                  background-color="orange lighten-3"
                  color="orange"
                  half-increments
                  small
                  dense
        >
        </v-rating>
        <span class="body-1">({{place.evaluationsSummary.evaluationsQuantity}})</span>
        <!--<v-btn icon ripple slot="activator">
          <v-icon>fas fa-info</v-icon>
        </v-btn>-->
      </v-layout>
    </v-list-tile-action>
  </v-list-tile>
</template>

<script>
export default {
  name: 'RoutePlacesItem',
  props: {
    place: Object,
    index: Number,
    placesLength: Number,
    showBadge: Boolean,
    openPlaceDetailDialog: Function
  }
};
</script>

<style scoped>
  .drag-list-item {
    border-bottom: solid 1px #ccc;
  }
</style>
