<template>
  <v-content>
    <v-container fluid py-3>
      <v-layout justify-center align-center>
        <v-flex text-xs-center>
          <app-snackbar></app-snackbar>
          <v-slide-x-transition mode="out-in">
            <router-view></router-view>
          </v-slide-x-transition>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>

<script>
import Snackbar from './Snackbar';

export default {
  name: 'Content',
  components: {
    'app-snackbar': Snackbar
  }
};
</script>

<style scoped>

</style>
