<template>
  <div :style="{width: width, height: height}">
    <v-toolbar dense
               fixed
               floating
               id="map-toolbar"
               color="white"
               style="z-index: 1"
               :class="{'no-box-shadow' : slideMenu}"
    >
      <v-toolbar-side-icon style="margin-left: -13px"
                           @click.stop="slideMenu = !slideMenu">
      </v-toolbar-side-icon>
      <v-text-field v-if="searchBox && !readonly"
                    single-line
                    append-icon="fas fa-search"
                    id="pac-input"
                    class="controls"
                    type="text"
                    :placeholder="$t('map.search')"
      ></v-text-field>
    </v-toolbar>
    <v-navigation-drawer
      v-model="slideMenu"
      id="slide-menu-map"
      fixed
      stateless
      width="290"
    >
      <v-list dense>
        <v-list-tile></v-list-tile>
        <v-list-tile @click="changeMapType('roadmap')">
          <v-list-tile-action>
            <v-icon>fas fa-map</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{$t('map.map')}}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click="changeMapType('hybrid')">
          <v-list-tile-action>
            <v-icon>fas fa-image</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{$t('map.satellite')}}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click="changeMapType('terrain')">
          <v-list-tile-action>
            <v-icon>fas fa-ruler-horizontal</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{$t('map.terrain')}}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <!--<v-divider></v-divider>
        <v-list-tile @click="">
          <v-list-tile-action>
            <v-icon>fas fa-traffic-light</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{$t('map.traffic')}}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click="">
          <v-list-tile-action>
            <v-icon>fas fa-bus-alt</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{$t('map.public_transport')}}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click="">
          <v-list-tile-action>
            <v-icon>fas fa-bicycle</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{$t('map.cycle_paths')}}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-divider></v-divider>
        <v-list-tile @click="">
          <v-list-tile-action>
            <v-icon>fas fa-location-arrow</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{$t('map.route')}}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>-->
      </v-list>
    </v-navigation-drawer>
    <v-content class="google-map" :id="mapName"></v-content>
  </div>
</template>

<script>
export default {
  name: 'google-maps',
  props: {
    name: String,
    searchBox: {
      type: Boolean,
      default: false
    },
    clickMark: {
      type: Boolean,
      default: false
    },
    readonly: {
      type: Boolean,
      default: false
    },
    height: {
      type: String,
      default: '400px'
    },
    width: {
      type: String,
      default: '100%'
    },
    zoom: {
      type: Number,
      default: 9
    },
    value: {},
    places: {
      type: Array
    }
  },
  data: () => ({
    map: null,
    autocompleteSearchBox: null,
    directionsService: null,
    directionsDisplay: null,
    marker: null,
    route: [],
    slideMenu: false,
    options: {
      mapType: 'roadmap'
    }
  }),
  watch: {
    places() {
      this.mapPlacesToLatLng();
      this.calculateAndDisplayRoute();
    },
    value() {
      if (this.value) {
        this.handleLocationChange(this.value);
      }
    }
  },
  computed: {
    mapName() {
      return `${this.name}-map`;
    }
  },
  mounted() {
    this.initMap();
    this.initAutocomplete();
    this.initAddMarkerByClick();
    this.initDirective();
  },
  methods: {
    initMap() {
      this.map = new google.maps.Map(document.getElementById(this.mapName), {
        center: { lat: 50.874167, lng: 20.633333 },
        zoom: this.zoom,
        mapTypeId: this.options.mapType,
        mapTypeControl: false
      });

      this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(document.getElementById('map-toolbar'));
      this.map.controls[google.maps.ControlPosition.LEFT_CENTER].push(document.getElementById('slide-menu-map'));
    },
    initAutocomplete() {
      if (!this.searchBox || this.readonly) {
        return;
      }
      const tmp = this;
      const autocomplete = document.getElementById('pac-input');
      /* const options = {
        componentRestrictions: {
          country: 'pl'
        }
      }; */
      this.autocompleteSearchBox = new google.maps.places.SearchBox(autocomplete);

      this.map.addListener('bounds_changed', () => {
        tmp.autocompleteSearchBox.setBounds(tmp.map.getBounds());
      });

      this.autocompleteSearchBox.addListener('places_changed', this.onPlaceChange);
    },
    onPlaceChange() {
      const places = this.autocompleteSearchBox.getPlaces();
      if (places.length === 0) {
        return;
      }

      const bounds = new google.maps.LatLngBounds();
      places.forEach((place) => {
        if (!place.geometry) {
          console.log('Returned place contains no geometry');
          return;
        }

        this.fillAddress(place.address_components);
        this.markerHandle(place.geometry.location);
        if (place.geometry.viewport) {
          bounds.union(place.geometry.viewport);
        } else {
          bounds.extend(place.geometry.location);
        }
      });
      this.map.fitBounds(bounds);
    },
    initAddMarkerByClick() {
      if (!this.clickMark || this.readonly) {
        return;
      }

      this.map.addListener('click', (e) => {
        this.markerHandle(e.latLng);
      });
    },
    initDirective() {
      this.directionsService = new google.maps.DirectionsService();
      this.directionsDisplay = new google.maps.DirectionsRenderer({
        map: this.map
      });
    },
    mapPlacesToLatLng() {
      this.route = this.places.map(place =>
        new google.maps.LatLng(place.address.location.lat, place.address.location.lng)
      );
    },
    calculateAndDisplayRoute() {
      if (!this.route || this.route.length === 0) {
        this.refreshMap();
        return;
      }

      const tmp = this;
      const waypoints = [];
      for (let i = 1; i < this.route.length - 1; i++) {
        waypoints.push({
          location: this.route[i],
          stopover: true
        });
      }

      if (!this.directionsDisplay.getMap()) {
        this.directionsDisplay.setMap(this.map);
      }
      this.directionsService.route({
        origin: this.route[0],
        destination: this.route[this.route.length - 1],
        waypoints,
        travelMode: 'DRIVING'
      }, (response, status) => {
        if (status === 'OK') {
          tmp.directionsDisplay.setDirections(response);
          this.calcDistanceAndDurationRoute();
          /* let route = response.routes[0];
          let summaryPanel = document.getElementById('directions-panel');
          summaryPanel.innerHTML = '';
          // For each route, display summary information.
          for (let i = 0; i < route.legs.length; i++) {
            let routeSegment = i + 1;
            summaryPanel.innerHTML += '<b>Route Segment: ' + routeSegment +
              '</b><br>';
            summaryPanel.innerHTML += route.legs[i].start_address + ' to ';
            summaryPanel.innerHTML += route.legs[i].end_address + '<br>';
            summaryPanel.innerHTML += route.legs[i].distance.text + '<br><br>';
          } */
        } else {
          window.alert(`Directions request failed due to ${status}`);
        }
      });
    },
    calcDistanceAndDurationRoute() {
      if (!this.directionsDisplay.directions.routes) {
        return;
      }
      let distance = 0;
      let duration = 0;
      this.directionsDisplay.directions.routes[0].legs.forEach((leg) => {
        distance += leg.distance.value;
        duration += leg.duration.value;
      });
      this.$emit('distance', distance);
      this.$emit('duration', duration);
    },
    markerHandle(location) {
      if (!this.readonly) {
        this.handleLocationChange(location);
        this.emitLocation(location);
      }
    },
    handleLocationChange(location) {
      if (this.marker) {
        this.marker.setPosition(location);
      } else {
        this.marker = new google.maps.Marker({
          position: location,
          map: this.map
        });
      }
      this.map.setCenter(location);
    },
    fillAddress(addressComponents) {
      const address = {};
      addressComponents.forEach((addressComponent) => {
        addressComponent.types.forEach((type) => {
          switch (type) {
          case 'street_number':
            address.buildingNr = addressComponent.long_name;
            break;
          case 'route':
            address.street = addressComponent.long_name;
            break;
          case 'locality':
            address.city = addressComponent.long_name;
            break;
          case 'administrative_area_level_2':
            address.county = addressComponent.long_name;
            break;
          case 'postal_code':
            address.postalCode = addressComponent.long_name;
            break;
          default:
            break;
          }
        });
      });
      this.$emit('address', address);
    },
    changeMapType(type) {
      this.map.setMapTypeId(type);
    },
    emitLocation(location) {
      this.$emit('input', {
        lat: location.lat(),
        lng: location.lng()
      });
    },
    removeMarker() {
      if (!this.readonly && this.marker) {
        this.marker.setPosition(null);
      }
    },
    refreshMap() {
      this.directionsDisplay.setMap(null);
      this.map.setZoom(10);
    }
  }
};
</script>

<style scoped>
  .google-map {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: gray;
  }

  .controls {
    margin-top: 5px;
  }

  #map-toolbar {
    margin-left: 0;
  }

  .no-box-shadow {
    box-shadow: none
  }
</style>
