<template>
  <v-navigation-drawer
    :mini-variant="mini"
    v-model="drawer"
    width="200"
    hide-overlay
    stateless
    fixed
    app
  >
    <v-list>
      <v-list-tile>
        <v-list-tile-action>
          <v-btn icon ripple @click.stop="mini = !mini">
            <v-icon v-if="mini">fas fa-chevron-right</v-icon>
            <v-icon v-else>fas fa-chevron-left</v-icon>
          </v-btn>
        </v-list-tile-action>
      </v-list-tile>
      <!--<v-list-group>
        <v-list-tile ripple
                     slot="activator"
                     append exact-active-class exact :to="{ path: '/places/add' }"
        >
          <v-list-tile-action>
            <v-icon>fas fa-place-of-worship</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ $t('add_place') }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile ripple
                     append
                     exact-active-class exact :to="{ path: '/places' }">Miejsca</v-list-tile>
      </v-list-group>-->
      <v-list-tile ripple append exact-active-class exact :to="{ path: '/places' }">
        <v-list-tile-action>
          <v-icon>fas fa-place-of-worship</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>{{ $t('places') }}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-list-tile ripple append exact-active-class exact :to="{ path: '/routes/add' }">
        <v-list-tile-action>
          <v-icon>fas fa-map-signs</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>{{ $t('add_route') }}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-list-tile ripple append exact-active-class exact
                   :to="{ path: '/routes' }">
        <v-list-tile-action>
          <v-icon>fas fa-route</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>{{ $t('routes') }}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-list-tile ripple append exact-active-class exact
                   v-if="userIsLogged && currentUser.account.role === 'ADMIN'"
                   :to="{ path: '/categories' }"
      >
        <v-list-tile-action>
          <v-icon>fas fa-clone</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>{{ $t('categories') }}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-list-tile ripple append exact-active-class exact
                   v-if="userIsLogged"
                   :to="{ path: '/schedule' }"
      >
        <!--v-if="userIsLogged"-->
        <v-list-tile-action>
          <v-icon>fas fa-calendar-alt</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>{{ $t('calendar') }}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-list-tile ripple append exact-active-class exact
                   v-if="userIsLogged"
                   :to="{ name: 'Account' }"
      >
        <v-list-tile-action>
          <v-icon>fas fa-user</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>{{ $t('my_account') }}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-list-tile ripple append exact-active-class exact
                   v-if="userIsLogged"
                   @click="logout()"
      >
        <v-list-tile-action>
          <v-icon>fas fa-sign-out-alt</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>{{ $t('logout') }}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'Navigation',
  data: () => ({
    drawer: true,
    mini: true
  }),
  computed: {
    userIsLogged() {
      return this.$store.getters.isLogged;
    },
    currentUser() {
      return this.$store.getters.currentUser;
    }
  },
  methods: {
    ...mapActions({
      signOut: 'signOut'
    }),
    logout() {
      this.signOut();
    }
  }
};
</script>

<style scoped>

</style>
