<template>
  <v-snackbar
    v-model="statement.snackbar"
    :multi-line="true"
    :right="true"
    :timeout="3000"
    :top="true"
    :color="statement.color"
  >
    {{ $t('snackbar_message.' + statement.message) }}
    <v-btn dark
           flat
           @click="closeSnackbar"
    >
      {{ $t('main.close') }}
    </v-btn>
  </v-snackbar>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'Snackbar',
  computed: {
    statement: {
      get() {
        return this.$store.getters.getStatement;
      },
      set() {
        this.closeSnackbar();
      }
    }
  },
  methods: {
    ...mapActions({
      disableSnackbar: 'disableSnackbar'
    }),
    closeSnackbar() {
      this.disableSnackbar();
    }
  }
};
</script>

<style scoped>

</style>
