<template>
  <v-toolbar color="blue" dark fixed app>
    <v-toolbar-title>{{ $t('app_title') }}</v-toolbar-title>
    <v-spacer></v-spacer>
    <v-menu offset-y>
      <v-btn slot="activator"
             color="primary"
             dark
      >
        {{$t('locale.' + locale)}}
      </v-btn>
      <v-list>
        <v-list-tile
          v-for="(item, index) in locales"
          :key="index"
          @click="changeLocale(item.type)"
        >
          <v-list-tile-title>{{item.name}}</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-menu>
    <div v-if="!userIsLogged">
      <v-btn color="primary" dark :to="{ path: '/login' }">{{$t('login')}}</v-btn>
      <v-btn color="primary" dark :to="{ path: '/signup' }">{{$t('sign_up')}}</v-btn>
    </div>
    <!--<div v-else>
      <v-menu offset-y>
        <v-btn slot="activator"
               color="primary"
               icon
               dark>
          <v-icon>fas fa-user</v-icon>
        </v-btn>
        <v-list>
          &lt;!&ndash;<v-list-tile @click="goTo()">
            <v-list-tile-title>{{$t('my_account')}}</v-list-tile-title>
          </v-list-tile>&ndash;&gt;
          <v-list-tile @click="logout()">
            <v-list-tile-title>{{$t('logout')}}</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
    </div>-->
  </v-toolbar>
</template>

<script>
export default {
  name: 'Toolbar',
  data: () => ({
    locales: [
      {type: 'pl', name: 'Polski'},
      {type: 'en', name: 'English'}
    ]
  }),
  computed: {
    locale() {
      return this.$i18n.locale;
    },
    userIsLogged() {
      return this.$store.getters.isLogged;
    }
  },
  methods: {
    changeLocale(val) {
      this.$i18n.locale = val;
    },
    goToLoginPage() {
      window.location.href = 'http://localhost:9090/touristguide/rest/login/page';
    },
    goTo() {
    }
  }
};
</script>

<style scoped>

</style>
