<template>
  <div>
    <v-dialog v-model="isDialog" persistent max-width="500px">
      <v-card>
        <v-card-title>
          <span class="headline" v-if="dialog.isAdd">{{ $t('category.add') }}</span>
          <span class="headline" v-else-if="dialog.isUpdate">{{ $t('category.edit') }}</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex>
                  <v-text-field
                    v-model.lazy.trim="dialog.category.name"
                    :label="$t('category.name')"
                    required
                  >
                  </v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1"
                 flat
                 @click.native="closeDialog()"
          >
            {{ $t('main.cancel') }}
          </v-btn>
          <v-btn color="blue darken-1"
                 flat
                 v-if="dialog.isAdd"
                 @click.native="addCategory()"
          >
            {{ $t('main.add') }}
          </v-btn>
          <v-btn color="blue darken-1"
                 flat
                 v-else
                 @click.native="editCategory()"
          >
            {{ $t('main.edit') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-layout row pb-4>
      <v-btn color="primary" @click="openAddDialog()">{{ $t('main.add') }}</v-btn>
    </v-layout>
    <v-layout d-flex>
      <v-list two-line>
        <template v-for="(category, index) in categories">
          <v-list-tile
            :key="category.categoryId"
            loading
            >
            <v-list-tile-avatar>
              <v-icon>fas fa-file</v-icon>
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title>{{category.name}}</v-list-tile-title>
            </v-list-tile-content>
            <v-list-tile-action>
              <div class="action-buttons">
                <v-btn icon ripple
                       class="action-button"
                       slot="activator"
                       @click="openUpdateDialog(category)"
                >
                  <v-icon>fas fa-pencil-alt</v-icon>
                </v-btn>
                <v-btn icon ripple
                       v-if="category.active"
                       class="action-button"
                       @click="editCategoryState(category, false)"
                >
                  <v-icon>fas fa-ban</v-icon>
                </v-btn>
                <v-btn icon ripple
                       v-else
                       class="action-button"
                       @click="editCategoryState(category, true)"
                >
                  <v-icon>fas fa-undo-alt</v-icon>
                </v-btn>
              </div>
            </v-list-tile-action>
          </v-list-tile>
          <v-divider v-if="index + 1 < categories.length" :key="`D-${index}`"></v-divider>
        </template>
      </v-list>
    </v-layout>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'Categories',
  data: () => ({
    dialog: {
      isAdd: false,
      isUpdate: false,
      category: {
        categoryId: null,
        name: ''
      }
    },
    isError: false
  }),
  computed: {
    categories() {
      return this.$store.getters.categories;
    },
    isDialog() {
      return this.dialog.isAdd || this.dialog.isUpdate;
    }
  },
  methods: {
    ...mapActions({
      loadCategories: 'loadCategories',
      insertCategory: 'insertCategory',
      updateCategory: 'updateCategory',
      updateCategoryState: 'updateCategoryState',
      addErrorSnackbar: 'addErrorSnackbar'
    }),
    addCategory() {
      this.validateCategory();
      if (!this.isError) {
        this.insertCategory(Object.assign({}, this.dialog.category));
        this.dialog.isAdd = false;
        this.dialog.category.name = '';
      }
      this.isError = false;
    },
    editCategory() {
      this.validateCategory();
      if (!this.isError) {
        const category = {
          categoryId: this.dialog.category.categoryId,
          name: this.dialog.category.name
        };
        this.updateCategory(category);
        this.dialog.isUpdate = false;
        this.dialog.category.categoryId = null;
        this.dialog.category.name = '';
      }
      this.isError = false;
    },
    validateCategory() {
      if (!this.categories.length || this.dialog.category.name.length === 0) {
        this.addErrorSnackbar('category.add_error');
        this.isError = true;
      } else if (this.categories
        .find(category => category.name === this.dialog.category.name)) {
        this.addErrorSnackbar('category.exist_error');
        this.isError = true;
      }
    },
    editCategoryState(currentCategory, state) {
      const category = Object.assign({}, currentCategory);
      category.active = state;
      this.updateCategory(category);
    },
    openAddDialog() {
      this.dialog.isAdd = true;
    },
    openUpdateDialog(category) {
      this.dialog.isUpdate = true;
      this.dialog.category.name = category.name;
      this.dialog.category.categoryId = category.categoryId;
    },
    closeDialog() {
      this.dialog.isAdd = false;
      this.dialog.isUpdate = false;
      this.dialog.category.categoryId = null;
      this.dialog.category.name = '';
    }
  },
  /* directives: {
    uppercase: {
      bind: (el, binding, vnode) => {
        const handler = function (e) {
          if (e.target.value) {
            e.target.value = e.target.value.toUpperCase();
            vnode.elm.dispatchEvent(new CustomEvent('input'));
          }
        };
        el.addEventListener('input', handler);
      }
    }
  }, */
  created() {
    this.loadCategories();
  },
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      if (!vm.$store.getters.isLogged || vm.$store.getters.currentUser.account.role !== 'ADMIN') {
        vm.$router.push({ name: 'Places' });
      }
    });
  }
};
</script>

<style scoped>
  .action-buttons {
    width: 100%;
  }

  .action-button {
    padding: 5px;
    margin-right: 5px;
  }
</style>
