<template>
  <v-card>
    <v-toolbar color="blue" flat height="100px">
      <v-flex xs10>
        <v-text-field v-model="occurrence.title"
                      :label="$t('schedule.day_route.title')"
                      background-color="#f5f5f5"
                      full-width
                      solo>
        </v-text-field>
      </v-flex>
    </v-toolbar>
    <v-card-text class="occurrence-dialog-content">
      <v-layout row wrap justify-center>
        <v-flex xs11>
          <v-menu
            :close-on-content-click="false"
            v-model="isDatePicker"
            :nudge-right="40"
            lazy
            transition="scale-transition"
            offset-y
            full-width
            min-width="290px"
          >
            <v-text-field
              slot="activator"
              v-model="date"
              :label="$t('schedule.day_route.date')"
              append-icon="fas fa-calendar"
              readonly
            ></v-text-field>
            <v-date-picker v-model="date"
                           @input="isDatePicker = false"
                           readonly
            ></v-date-picker>
          </v-menu>
        </v-flex>
        <v-flex xs11>
          <v-select :items="routes"
                    item-text="name"
                    return-object
                    v-model="route"
                    :label="$t('schedule.day_route.route')"
                    menu-props="auto, overflowY"
                    append-outer-icon="fas fa-times"
                    :append-outer-icon-cb="clearRoute"
                    :no-data-text="$t('main.no_data')"
                    offset-y
                    hide-details
          >
          </v-select>
        </v-flex>
        <v-flex v-if="route.places.length > 0" xs11 my-2 px-2 py-1
                style="border: 1px solid #006064">
          <template v-for="(place, index) in route.places">
            <v-flex :key="place.placeId" d-inline-block>
              <span>{{ place.name }}</span>
              <span v-if="index < route.places.length - 1">></span>
            </v-flex>
          </template>
          <v-flex>
            <span class="subheading">
            {{ $t('route.distance') }}: {{route.distance | toKilometers}}
          </span>
            <span class="subheading">
            {{ $t('route.duration') }}: {{route.duration | convertSeconds}}
          </span>
          </v-flex>
        </v-flex>
        <v-scroll-y-transition>
          <v-flex xs12 v-show="route.places.length > 0">
            <google-maps name="occurrence-route"
                         :places="route.places"
                         :readonly="true"
            >
            </google-maps>
          </v-flex>
        </v-scroll-y-transition>
      </v-layout>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="primary"
             outline
             @click.native="close()"
      >
        {{ $t('main.cancel') }}
      </v-btn>
      <v-btn color="primary"
             outline
             v-if="mode === 'add'"
             @click.native="clearForm()"
      >
        {{ $t('main.clear') }}
      </v-btn>
      <v-btn color="primary"
             v-if="mode === 'add'"
             @click.native="addDayRoute()"
      >
        {{ $t('main.add') }}
      </v-btn>
      <v-btn color="primary"
             v-if="mode === 'update'"
             @click.native="deleteDayRoute()"
      >
        {{ $t('main.remove') }}
      </v-btn>
      <v-btn color="primary"
             v-if="mode === 'update'"
             @click.native="editDayRoute()"
      >
        {{ $t('main.edit') }}
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { mapActions } from 'vuex';
import GoogleMaps from '../pages/GoogleMaps';

export default {
  name: 'DayRoute',
  props: {
    isDialog: Boolean,
    routeDate: Date,
    mode: String,
    occurrence: {
      title: {
        type: String,
        default: ''
      },
      startDate: {
        type: Date,
        default: null
      },
      endDate: {
        type: Date,
        default: null
      },
      routeId: {
        type: Number,
        default: null
      },
      accountId: {
        type: Number,
        default: null
      }
    },
    close: Function
  },
  data: () => ({
    isDatePicker: false,
    route: {
      places: []
    }
  }),
  computed: {
    date() {
      return this.occurrence.startDate ?
        new Date(this.occurrence.startDate).toISOString().substr(0, 10) : null;
    },
    routes() {
      return this.$store.getters.routes;
    },
    currentUser() {
      return this.$store.getters.currentUser;
    }
  },
  watch: {
    isDialog() {
      if (this.isDialog && this.mode === 'update') {
        this.route = this.$store.getters.getRouteById(this.occurrence.routeId);
      }
    }
  },
  methods: {
    ...mapActions({
      loadActiveRoutes: 'loadActiveRoutes',
      insertOccurrence: 'insertOccurrence',
      updateOccurrence: 'updateOccurrence',
      removeOccurrence: 'removeOccurrence'
    }),
    clearRoute() {
      this.route = {
        name: '',
        routeId: 0,
        accountId: 0,
        routeLength: 0,
        routeTime: 0,
        active: true,
        isPrivate: false,
        places: [],
        evaluations: []
      };
    },
    addDayRoute() {
      this.occurrence.startDate = this.date;
      this.occurrence.accountId = this.currentUser.account.accountId;
      this.occurrence.routeId = this.route.routeId;
      this.insertOccurrence(this.occurrence)
        .then(this.close());
    },
    editDayRoute() {
      this.occurrence.routeId = this.route.routeId;
      this.updateOccurrence(this.occurrence)
        .then(this.close());
    },
    deleteDayRoute() {
      this.removeOccurrence(this.occurrence.occurrenceId)
        .then(this.close());
    }
  },
  created() {
    this.loadActiveRoutes();
  },
  components: {
    GoogleMaps
  }
};
</script>

<style scoped>
  .occurrence-dialog-content {
    max-height: 75vh;
    overflow-y: auto;
    padding: 2px 16px
  }
</style>
