<template>
  <div>
    <v-dialog v-model="dialog.isDialog"
              max-width="700px"
              :scrollable="false"
              persistent
              content-class="occurrence-dialog"
              transition="slide-x-transition"
    >
      <app-day-route ref="dayRoute"
                     :isDialog="dialog.isDialog"
                     :routeDate="dialog.date"
                     :occurrence="dialog.occurrence"
                     :mode="dialog.mode"
                     :close="closeDialog"
      >
      </app-day-route>
    </v-dialog>
    <div :class="{'content-disabled' : dialog.isDialog}">
      <v-btn flat @click="goToToday()" :disabled="dialog.isDialog">
        {{ $t('schedule.today') }}
      </v-btn>
      <v-btn icon flat @click="previousMonth()" :disabled="dialog.isDialog">
        <v-icon>fas fa-chevron-left</v-icon>
      </v-btn>
      <!--<span>{{ selectedDate.day }} {{ selectedDate.month+1 }} {{ selectedDate.year }}</span>-->
      <v-menu offset-y
              max-height="200"
              :disabled="dialog.isDialog">
        <v-btn slot="activator" flat :disabled="dialog.isDialog">
          {{ $t(`schedule.calendar.months.${selectedDate.month}`) }}
        </v-btn>
        <v-list>
          <v-list-tile v-for="(month, monthKey) in months"
                       :key="monthKey"
                       @click="onSelectMonth(monthKey)"
          >
            <v-list-tile-title>{{ $t(`schedule.calendar.months.${monthKey}`) }}</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
      <v-menu offset-y
              max-height="200"
              :disabled="dialog.isDialog">
        <v-btn slot="activator" flat :disabled="dialog.isDialog">
          {{ selectedDate.year }}
        </v-btn>
        <v-list>
          <v-list-tile
            v-for="year in years"
            :key="year"
            @click="onSelectYear(year)"
          >
            <v-list-tile-title>{{ year }}</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
      <v-btn icon flat @click="nextMonth()" :disabled="dialog.isDialog">
        <v-icon>fas fa-chevron-right</v-icon>
      </v-btn>
      <div class="schedule-month">
        <div class="schedule-week-header">
          <div class="schedule-week-header-day"
               v-for="(day, dayKey) in days"
               :key="dayKey"
          >
            {{ $t(`schedule.calendar.days.${dayKey}`) }}
          </div>
        </div>
        <div class="schedule-week"
             v-for="(week, key) in currentMonthCalendar"
             :key="key"
        >
          <app-schedule-day v-for="day in week"
                            :day="day"
                            :dialog="dialog"
                            :open-occurrence-insert="openOccurrenceInsert"
                            :open-occurrence-edit="openOccurrenceEdit">
          </app-schedule-day>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import DayRoute from './DayRoute';
import ScheduleDay from './ScheduleDay';
import occurrences from '@/store/modules/occurrences';

export default {
  name: 'Schedule',
  data: () => ({
    days: 7,
    months: 12,
    years: [],
    currentDate: new Date(),
    currentMonthCalendar: [],
    selectedDate: {
      day: null,
      month: null,
      year: null
    },
    dialog: {
      isDialog: false,
      date: null,
      occurrence: {
        title: '',
        startDate: null,
        endDate: null,
        routeId: null,
        accountId: null
      },
      mode: '',
      position: {
        x: 0,
        y: 0
      }
    }
  }),
  mounted() {
    this.goToToday();
    this.createYearRange();
  },
  computed: {
    occurrences() {
      return this.$store.getters.occurrences;
    }
  },
  watch: {
    selectedDate: {
      handler() {
        const loadOccurrences =
          new Promise((resolve, reject) => this.findCurrentUserOccurrences(resolve, reject));
        loadOccurrences
          .then(() => this.buildCurrentMonthCalendar());
      },
      deep: true
    }
  },
  methods: {
    ...mapActions({
      loadUserOccurrences: 'loadOccurrences'
    }),
    goToToday() {
      this.selectedDate = {
        day: this.currentDate.getDate(),
        month: this.currentDate.getMonth(),
        year: this.currentDate.getFullYear(),
        dayOfWeek: this.currentDate.getDay()
      };
    },
    findCurrentUserOccurrences(resolve, reject) {
      if (this.$store.getters.isLogged) {
        const occurrencesSearchParams = {
          accountId: this.$store.getters.currentUser.account.accountId,
          date: JSON.stringify(`${this.selectedDate.year}-${this.selectedDate.month < 9 ? '0' : ''}${this.selectedDate.month + 1}-${this.selectedDate.day < 10 ? '0' : ''}${this.selectedDate.day}`),
          resolve,
          reject
        };
        this.loadUserOccurrences(occurrencesSearchParams);
      }
    },
    openOccurrenceInsert(day, event) {
      if (day == null || this.dialog.isDialog) {
        return;
      }
      const startDate = new Date(this.selectedDate.year, this.selectedDate.month, day);
      startDate.setMinutes(startDate.getMinutes() + 480);
      this.dialog = {
        isDialog: true,
        occurrence: {
          startDate
        },
        mode: 'add',
        position: {
          x: event.clientX,
          y: event.clientY
        }
      };
    },
    openOccurrenceEdit(occurrence, event) {
      if (occurrence == null || this.dialog.isDialog) {
        return;
      }
      this.dialog = {
        isDialog: true,
        occurrence,
        mode: 'update',
        position: {
          x: event.clientX,
          y: event.clientY
        }
      };
    },
    closeDialog() {
      this.$refs.dayRoute.clearRoute();
      this.dialog.isDialog = false;
      this.dialog.mode = '';
      this.buildCurrentMonthCalendar();
    },
    previousMonth() {
      if (this.selectedDate.month === 0) {
        this.selectedDate.month = 11;
        this.selectedDate.year = this.selectedDate.year - 1;
      } else {
        this.selectedDate.month = this.selectedDate.month - 1;
      }
    },
    nextMonth() {
      if (this.selectedDate.month === 11) {
        this.selectedDate.month = 0;
        this.selectedDate.year = this.selectedDate.year + 1;
      } else {
        this.selectedDate.month = this.selectedDate.month + 1;
      }
    },
    createYearRange() {
      const currentYear = this.currentDate.getFullYear();
      for (let year = currentYear - 50; year < currentYear + 50; year++) {
        this.years.push(year);
      }
    },
    onSelectMonth(month) {
      this.selectedDate.month = month;
    },
    onSelectYear(year) {
      this.selectedDate.year = year;
    },
    buildCurrentMonthCalendar() {
      const calendar = [];
      let day = 1;
      const firstDayOfWeek = this.getDayOfWeek(1, this.selectedDate.month, this.selectedDate.year);
      const daysInMonth = this.getDaysInMonth(this.selectedDate.month, this.selectedDate.year);
      for (let week = 0; week <= 5; week++) {
        calendar[week] = [];
        for (let dayOfWeek = 0; dayOfWeek < this.days; dayOfWeek++) {
          if ((week === 0 && dayOfWeek < firstDayOfWeek) || day > daysInMonth) {
            calendar[week].push(null);
          } else {
            calendar[week].push({title: day++, occurrence: null});
          }
        }
      }
      this.currentMonthCalendar = calendar;
      this.fillCalendarWithOccurrences();
    },
    getDayOfWeek(day, month, year) {
      return this.mapDate(new Date(year, month, day).getDay());
    },
    getDaysInMonth(month, year) {
      return new Date(year, month + 1, 0).getDate();
    },
    mapDate(day) {
      return day === 0 ? 6 : day - 1;
    },
    fillCalendarWithOccurrences() {
      this.currentMonthCalendar.forEach((week) => {
        week.forEach((day) => {
          if (day) {
            this.findDayOccurrence(day);
          }
        });
      });
    },
    findDayOccurrence(day) {
      const foundOccurrence =
        this.occurrences.find(occurrence => this.isOccurrenceInDay(occurrence, day));
      if (foundOccurrence) {
        day.occurrence = foundOccurrence;
      }
    },
    isOccurrenceInDay(occurrence, day) {
      const actualDate = new Date(this.selectedDate.year, this.selectedDate.month, day.title);
      return this.dateWithoutTime(Date.parse(occurrence.startDate)) >= actualDate
        && this.dateWithoutTime(Date.parse(occurrence.endDate)) <= actualDate;
    },
    dateWithoutTime(date) {
      const d = new Date(date);
      d.setHours(0, 0, 0, 0);
      return d;
    }
  },
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      if (!vm.$store.getters.isLogged) {
        vm.$router.push({ name: 'Places' });
      }
    });
  },
  components: {
    'app-day-route': DayRoute,
    'app-schedule-day': ScheduleDay
  }
};
</script>

<style scoped>
  .schedule-month {
    color: #757575;
    background-color: white;
  }

  .schedule-week-header {
    display: flex;
  }

  .schedule-week-header-day {
    flex: 1 0 20px;
    border: 1px solid #e0e0e0;
    padding: 4px 0 4px 4px;
  }

  .schedule-week {
    display: flex;
    flex: 1;
  }

  .content-disabled {
    opacity: .5;
    transition: .5s;
  }
</style>
