<template>
  <div class="schedule-week-day"
       :class="[day && !dialog.isDialog ? 'day-active' : 'day-disabled']"
       @click="openDialog($event)"
  >
    <div v-if="day">
      {{ day.title }}
      <div v-if="day.occurrence"
           class="occurrence">
        {{ day.occurrence.title }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ScheduleDay',
  props: {
    day: Object,
    dialog: Object,
    openOccurrenceInsert: Function,
    openOccurrenceEdit: Function
  },
  methods: {
    openDialog(event) {
      if (!this.day) {
        return;
      }
      if (this.day.occurrence) {
        this.openOccurrenceEdit(this.day.occurrence, event);
      } else if (this.day.title) {
        this.openOccurrenceInsert(this.day.title, event);
      }
    }
  }
};
</script>

<style scoped>
  .schedule-week-day {
    flex: 1;
    width: 0;
    border: 1px solid #e0e0e0;
    padding: 5px;
    overflow: hidden;
    text-align: left;
    height: 100px;
  }

  .day-active:hover {
    background-color: #1976d2;
    color: white;
    cursor: pointer;
    transition: 0.3s;
  }

  .day-disabled {
    background-color: rgba(245, 245, 245, .5);
  }

  .occurrence {
    width: 100%;
    height: 18px;
    background-color: rgb(249, 161, 154);
    border: 1px solid rgb(249, 161, 154);
    border-radius: 3px;
    color: white;
    padding-left: 4px;
    opacity: .9;
  }

  .occurrence:hover {
    opacity: initial;
  }
</style>
