<template>
  <v-app id="inspire">
    <app-navigation></app-navigation>
    <app-toolbar></app-toolbar>
    <app-content></app-content>
  </v-app>
</template>

<script>
import Navigation from './components/pages/Navigation';
import Toolbar from './components/pages/Toolbar';
import Content from './components/pages/Content';
import { mapActions } from 'vuex';

export default {
  name: 'App',
  props: {
    source: String
  },
  methods: {
    ...mapActions({
      loadCurrentUserDetail: 'getCurrentUserDetail'
    })
  },
  created() {
    this.loadCurrentUserDetail();
  },
  components: {
    'app-navigation': Navigation,
    'app-toolbar': Toolbar,
    'app-content': Content
  }
};
</script>

<style>
  .occurrence-dialog {
    position: absolute;
    top: 0;
    max-height: unset !important;
  }
</style>
