<template>
  <div>
    <v-form ref="placeForm" v-model="valid">
      <v-container grid-list-md fluid>
        <v-layout row mb-2>
          <v-btn color="primary"
                 v-if="$route.name === 'AddPlace'"
                 @click.native="addPlace()"
          >
            {{ $t('main.add') }}
          </v-btn>
          <v-btn color="primary"
                 v-else-if="$route.name === 'EditPlace'"
                 @click.native="editPlace()"
          >
            {{ $t('main.edit') }}
          </v-btn>
          <v-btn color="primary"
                 outline
                 exact-active-class exact
                 @click.native="closeDialog()"
          >
            {{ $t('main.cancel') }}
          </v-btn>
          <v-btn color="primary"
                 outline
                 v-if="!readonly"
                 @click.native="clearForm()"
          >
            {{ $t('main.clear') }}
          </v-btn>
        </v-layout>
        <v-layout row>
          <v-flex xs6 mr-2>
            <v-flex mb-2>
              <v-text-field v-model="place.name"
                            :rules="placeRules.name"
                            :label="$t('place.name')"
                            :readonly="readonly"
                            required
              >
              </v-text-field>
            </v-flex>
            <v-flex mb-2>
              <v-textarea v-model="place.description"
                          :rules="placeRules.description"
                          :label="$t('place.description')"
                          :readonly="readonly"
              >
              </v-textarea>
            </v-flex>
            <v-flex mb-2>
              <v-select :items="categories"
                        item-text="name"
                        return-object
                        v-model="place.category"
                        :label="$t('place.category')"
                        menu-props="auto, overflowY"
                        hide-details
                        :readonly="readonly"
              >
              </v-select>
            </v-flex>
            <v-flex class="text-sm-left" mt-4>
              <v-text-field v-if="!readonly"
                            v-model="place.websiteLink"
                            :label="$t('place.website')"
                            :readonly="readonly"
              >
              </v-text-field>
              <a v-else :href="place.websiteLink" target="_blank">{{ place.websiteLink }}</a>
            </v-flex>
            <v-flex v-if="place.address && place.address.location" class="text-xs-left">
              <v-flex>
                <span class="subheading">{{$t('place.address.title')}}</span>
              </v-flex>
              <v-divider></v-divider>
              <v-flex ml-2>
                <v-flex>
                  <span class="body-2" v-if="place.address.street">
                    {{$t('place.address.street')}} {{place.address.street}}
                  </span>
                  <span class="body-2" v-if="place.address.buildingNr">
                    {{place.address.buildingNr}}
                  </span>
                </v-flex>
                <v-flex>
                  <span class="body-2" v-if="place.address.city">
                    {{place.address.city}}
                  </span>
                  <span class="body-2" v-if="place.address.postalCode">
                    {{place.address.postalCode}}
                  </span>
                </v-flex>
                <v-flex>
                  <span class="body-2" v-if="place.address.county">
                    {{place.address.county}}
                  </span>
                </v-flex>
              </v-flex>
            </v-flex>
          </v-flex>
          <v-flex xs6>
            <google-maps name="place"
                         :search-box="true"
                         :readonly="readonly"
                         v-model="place.address.location"
                         ref="map"
                         @address="onAddressChange"
            >
            </google-maps>
          </v-flex>
        </v-layout>
        <v-layout v-if="readonly" mt-4>
          <app-evaluations :evaluations="place.evaluations"
                           :summary="place.evaluationsSummary"
                           :placeId="place.placeId"
                           :readonly="isDialog"
          >
          </app-evaluations>
        </v-layout>
      </v-container>
    </v-form>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import GoogleMaps from '../pages/GoogleMaps';
import Evaluations from '../evaluations/Evaluations';

export default {
  name: 'Place',
  props: {
    dialogPlace: Object,
    closePlaceDetailDialog: Function
  },
  data: () => ({
    readonly: false,
    isDialog: false,
    place: {
      name: '',
      description: '',
      category: null,
      websiteLink: '',
      accountId: null,
      address: {
        location: null
      },
      evaluations: [],
      evaluationsSummary: {}
    },
    valid: false,
    placeRules: {
      name: [
        v => !!v || 'Name error' // || this.$i18n.t('validation.name_required')
      ],
      description: [
        v => !!v || 'Description error' // || this.$i18n.t('validation.description_required')
      ],
      category: [
        v => !!v || 'Category error' // || this.$i18n.t('validation.category_required')
      ],
      location: [
        v => !!v || 'Location error' // || this.$i18n.t('validation.location_required')
      ]
    }
  }),
  computed: {
    categories() {
      return this.$store.getters.categories;
    },
    currentUser() {
      return this.$store.getters.currentUser;
    }
  },
  watch: {
    dialogPlace() {
      if (this.dialogPlace) {
        this.readonly = true;
        this.isDialog = true;
        this.place = this.dialogPlace;
      }
    }
  },
  methods: {
    ...mapActions({
      loadActiveCategories: 'loadActiveCategories',
      insertPlace: 'insertPlace',
      updatePlace: 'updatePlace'
    }),
    addPlace() {
      if (!this.place.address || !this.place.address.buildingNr) {
        return;
      }
      this.place.accountId = this.currentUser.account.accountId;
      this.insertPlace(this.place);
      this.closeDialog();
      this.clearForm();
    },
    editPlace() {
      this.updatePlace(this.place);
      this.closeDialog();
      this.clearForm();
    },
    clearForm() {
      this.$refs.placeForm.reset();
      this.$refs.map.removeMarker();
    },
    closeDialog() {
      if (!this.isDialog) {
        this.$router.push({ name: 'Places' });
      } else {
        this.isDialog = false;
        this.closePlaceDetailDialog();
      }
      this.place = {
        name: '',
        description: '',
        category: null,
        websiteLink: '',
        accountId: null,
        address: {
          location: null
        },
        evaluations: [],
        evaluationsSummary: {}
      };
    },
    onAddressChange(value) {
      this.place.address = value;
    }
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      vm.readonly = !(to.name === 'AddPlace' || to.name === 'EditPlace');
      if (to.name === 'Place' || to.name === 'EditPlace') {
        vm.place = Object.assign({}, vm.$store.getters.getPlaceById(to.params.placeId));
      }
    });
  },
  created() {
    this.loadActiveCategories();
  },
  components: {
    GoogleMaps,
    'app-evaluations': Evaluations
  }
};
</script>

<style scoped>

</style>
