<template>
  <div>
    <v-layout row mb-1>
      <v-btn v-if="userIsLogged"
             color="primary"
             :to="{name: 'AddPlace'}">
        {{ $t('main.add') }}
      </v-btn>
      <v-btn color="primary"
             outline
             @click="isFilters = !isFilters">
        {{ $t('main.filter') }}
      </v-btn>
      <v-flex xs3>
        <v-select :items="orderFields"
                  v-model="placeFilter.orderField"
                  @change="findPlaces()"
                  class="order-select"
        >
          <template slot="selection" slot-scope="data">
            {{$t(`order_field.${data.item}`)}}
          </template>
          <template slot="item" slot-scope="data">
            {{$t(`order_field.${data.item}`)}}
          </template>
        </v-select>
      </v-flex>
    </v-layout>
    <v-divider></v-divider>
    <v-slide-y-transition>
      <v-layout v-if="isFilters" row>
        <v-flex xs3 mx-2>
          <v-text-field v-model="placeFilter.name"
                        :label="$t('place.name')"
                        append-outer-icon="fas fa-times"
                        :append-outer-icon-cb="clearNameFilter"
                        @input="findPlaces()"
          >
          </v-text-field>
        </v-flex>
        <v-flex xs3 mx-2>
          <v-select :items="categories"
                    item-text="name"
                    item-value="categoryId"
                    v-model="placeFilter.categoryId"
                    :label="$t('place.category')"
                    menu-props="auto, overflowY"
                    append-outer-icon="fas fa-times"
                    :append-outer-icon-cb="clearCategoryFilter"
                    @change="findPlaces()"
                    hide-details
          >
          </v-select>
        </v-flex>
        <v-flex v-if="userIsLogged" xs3 mx-2>
          <v-select :items="ownerships"
                    v-model="placeFilter.ownership"
                    menu-props="auto, overflowY"
                    @change="findPlaces()"
          >
            <template slot="selection" slot-scope="data">
              {{$t(`ownership.${data.item}`)}}
            </template>
            <template slot="item" slot-scope="data">
              {{$t(`ownership.${data.item}`)}}
            </template>
          </v-select>
        </v-flex>
      </v-layout>
    </v-slide-y-transition>
    <v-layout d-flex>
      <v-list two-line style="background-color: transparent">
        <template v-for="(place, index) in places">
          <v-list-tile
            :key="place.placeId"
            avatar
            loading
            >
            <v-list-tile-avatar>
              <v-icon>fas fa-monument</v-icon>
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title>{{place.name}}</v-list-tile-title>
              <v-list-tile-sub-title>{{place.category.name}}</v-list-tile-sub-title>
            </v-list-tile-content>
            <v-list-tile-action>
              <v-layout align-center>
                <v-rating v-model="place.evaluationsSummary.averageRating"
                          readonly
                          background-color="orange lighten-3"
                          color="orange"
                          half-increments
                          small
                          dense
                >
                </v-rating>
                <span class="body-1">({{place.evaluationsSummary.evaluationsQuantity}})</span>
                <div class="action-button">
                  <v-btn icon ripple
                         class="action-button"
                         :to="{name: 'Place', params: {placeId: place.placeId }}">
                    <v-icon>fas fa-info</v-icon>
                  </v-btn>
                  <template
                    v-if="userIsLogged && place.accountId === currentUser.account.accountId"
                  >
                    <v-btn icon ripple
                           class="action-button"
                           :to="{name: 'EditPlace', params: {placeId: place.placeId }}">
                      <v-icon>fas fa-pencil-alt</v-icon>
                    </v-btn>
                    <!--<v-btn icon ripple class="action-button" @click="editPlaceState(place)">
                      <v-icon>fas fa-trash-alt</v-icon>
                    </v-btn>-->
                  </template>
                </div>
              </v-layout>
            </v-list-tile-action>
          </v-list-tile>
          <v-divider v-if="index + 1 < places.length" :key="index"></v-divider>
        </template>
      </v-list>
    </v-layout>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'Places',
  data: () => ({
    dialog: {
      isAdd: false,
      isUpdate: false,
      isDetail: false,
      place: {}
    },
    isFilters: false,
    placeFilter: {
      name: '',
      categoryId: null,
      ownership: 'ALL',
      orderField: 'NAME_ASC'
    },
    ownerships: [
      'ALL',
      'MY'
    ],
    orderFields: [
      'NAME_ASC',
      'NAME_DESC',
      'RATE_ASC',
      'RATE_DESC'
    ]
  }),
  computed: {
    places() {
      return this.$store.getters.places;
    },
    categories() {
      return this.$store.getters.categories;
    },
    isDialog() {
      return this.dialog.isAdd || this.dialog.isUpdate || this.dialog.isDetail;
    },
    userIsLogged() {
      return this.$store.getters.isLogged;
    },
    currentUser() {
      return this.$store.getters.currentUser;
    }
  },
  methods: {
    ...mapActions({
      searchPlaces: 'searchPlaces',
      removePlace: 'removePlace'
    }),
    editPlaceState(currentPlace, state) {
      const place = Object.assign({}, currentPlace);
      place.active = state;
      this.updatePlace(place);
    },
    clearNameFilter() {
      this.placeFilter.name = '';
      this.findPlaces();
    },
    clearCategoryFilter() {
      this.placeFilter.categoryId = null;
      this.findPlaces();
    },
    userFilter(place) {
      return !this.userIsLogged || place.accountId === this.currentUser.account.accountId;
    },
    findPlaces() {
      this.searchPlaces(this.placeFilter);
    }
  },
  created() {
    this.findPlaces();
  }
};
</script>

<style scoped>
  .action-buttons {
    width: 100%;
  }

  .action-button {
    padding: 5px;
    margin-right: 5px;
  }

  .order-select {
    padding: 4px;
  }
</style>
